/* ===== RESET ====== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

/* ===== GERAL ====== */
body {
  padding: 80px;
  background-color: #faebd6;
}
.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

/* ===== HEADER ====== */
header {
  display: flex;
  align-items: center;
  gap: 16px;
}
header img {
  height: 36px;
}
header h1 {
  color: #403a3a;
  font-size: 42px;
}

/* ===== FORMULARIO ====== */
form {
  display: flex;
  gap: 16px;
  padding-block: 20px;
}
form input {
  border: 1px solid transparent;
  border-left: 8px solid #a69797;
  padding: 5px;
  color: #403a3a;
  font-size: 18px;
  transition: 0.5s all;
}
form input:focus {
  outline: none;
  border-color: #595151;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
form button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 36px;
  height: 36px;
  transition: 0.5s all;
}
form button:hover {
  opacity: 0.8;
  scale: 1.2;
}

/* ===== LISTA ====== */
table {
  width: 100%;
}
table th {
  border-bottom: 3px solid #595151;
  padding-block: 12px;
  color: #403a3a;
  font-size: 24px;
}
table td {
  border-bottom: 3px solid #a69797;
  text-align: center;
  padding-block: 12px;
  font-size: 18px;
  color: #403a3a;
}
table td button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
table td button > img {
  width: 36px;
  height: 36px;
  transition: 0.5s all;
}
table td button:hover > img {
  opacity: 0.8;
  scale: 1.2;
}
