/* ===== RESET ====== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

/* ===== GERAL ====== */
.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

/* ===== HEADER ====== */
header {
  display: flex;
  align-items: center;
  gap: 16px;
}
header img {
  height: 36px;
}
header h1 {
  font-size: 42px;
}
