/* ===== RESET ====== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

/* ===== GERAL ====== */
body {
  padding: 80px;
  background-color: #faebd6;
}
.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

/* ===== HEADER ====== */
header {
  display: flex;
  align-items: center;
  gap: 16px;
}
header img {
  height: 36px;
}
header h1 {
  color: #595151;
  font-size: 42px;
}

/* ===== HEADER ====== */
form {
  display: flex;
  gap: 16px;
  padding-block: 20px;
}
form input {
  border: none;
  border-left: 8px solid #69c04d;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.5s all;
}
form input:focus {
  outline: none;
  border-left-color: #59a340;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
form button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 36px;
  height: 36px;
  transition: 0.5s all;
}
form button:hover {
  opacity: 0.8;
  scale: 1.2;
}
